.hero {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  border-radius: var(--rounded);
  padding: 1.25rem;
  align-items: center;
  justify-content: center;  
  min-height: 16em;

  h1 {
    font-size: 3em;
    margin: 0;
  }
}

